* {
    box-sizing: border-box;
}

.container-img {
    background-image: url('../img/first-backgroud-img.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.title-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5%;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.224);
    padding: 0.7rem;
    border: 2px solid transparent;
    border-radius: 5px;
    backdrop-filter: blur(2px);
    text-shadow: 0.05rem 0.1rem 0 black;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
    margin: 0% 20% 0% 20%;
}

.title {
    font-size: 70%;
    color: rgb(235, 222, 222);
    margin: 0px;
}

.btn-landing {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-landing:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.btn-landing:hover:after {
    transform: translate(0, 0);
}

.btn-landing:active {
    background-color: #ffdeda;
    outline: 0;
}

.btn-landing:hover {
    outline: 0;
}